@page
@model RecruitCatRanjanpl.Pages.Candidates.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Candidate.FullName)'s Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.CandidateFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.CandidateFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.CandidateLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.CandidateLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.TargetSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.TargetSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.OptionalStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.OptionalStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.CandidateDOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.CandidateDOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.CandidatePhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.CandidatePhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.JobTitle.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Industry.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Candidate.CandidateId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
